# everything in "
regexp="[^"\\]*(?:\\.[^"\\]*)*"
colours=green italic
count=more
#====
## everything in '
##regexp=\'.*?\'
#regexp='[^"\\]*(?:\\.[^"\\]*)*'
#colours=green italic
#count=more
====
# everything in parentheses
regexp=\(.*?\)
colours=blue bold
count=more
====
regexp=REASON\b.*?\| 
colours=magenta
count=more
====
regexp=\bREASON\b
colours=magenta bold
count=more
====
regexp=\bERROR\b
colours=red bold
count=more
====
regexp=\*.*?\*
colours=yellow bold
count=more
====
# match any decimal
regexp=\b\d+\b
colours=blue bold
count=more
====
